# The layer creepers set their own blast radius and fuse (see entity/DeeperCreeper and the others)
public net.minecraft.world.entity.monster.Creeper explosionRadius
public net.minecraft.world.entity.monster.Creeper maxSwell
